@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* =========================================== */
/* ============ Common Components ============== */
/* =========================================== */


.btnc{
    all: unset;
    background: linear-gradient(163deg, rgba(68,137,238,1) 37%, rgba(47,49,167,1) 100%);
    color: #fff;
    font-weight: 700;
    padding: 1rem 3rem;
    border-radius: 11px;
    font-size: 1.3rem;
    cursor: pointer;
}

section {
    padding: 5rem 6rem;
}




/* =========================================== */
/* ===================== Navber ====================== */
/* =========================================== */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 2rem 6rem;
}

.nav_items {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav_item {
    padding: 1rem 2rem;
}

.action {
    font-weight: 900;
    font-size: 1.1rem;
}

.nav_item > a {
all: unset;
}

.register_btn {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(55deg, #3b80e7, #0f118b) 1;
    
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 30px;
}

#register_ancher{
    background-image: linear-gradient(179deg, #3b80e7, #0f118b);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}


/* =========================================== */
/* ===================== Hero One ====================== */
/* =========================================== */


.btn_choose_pkg {
    margin-top: 4rem;
}

.hero_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

.heroa_one_lift {
    max-width: 48rem;
}

.hero_one_lift > h1{
    font-size: clamp(1rem, 10vw, 5rem);
    color: #333;
    max-width: 48rem;

}

.hero_one_lift > p {
    max-width: 40rem;
    font-size: 1.3rem;
    color: #555;
    margin-top: 3rem;
}

.hero_one > img {
    width: 45rem;
}


/* =========================================== */
/* ===================== Hero Two ====================== */
/* =========================================== */

.hero_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
}

.hero_two > img {
    width: 45rem;
}

.hero_two > .hero_two_right > h1 {
    font-size: clamp(1rem, 10vw, 5rem);
    color: #333;
}

.hero_two > .hero_two_right > p {
    /* max-width: 40rem; */
    font-size: 1.3rem;
    color: #555;
    margin-top: 3rem;
}